@import "tailwindcss";

@theme {
    --color-pink: #ff69b4;
}

@layer utilities {
  .flex-center {
    @apply flex flex-center justify-center;
  }
}

body {
    width: 100%;
    background-color: black;
}